GRYLibraryTests/TestData/XSDValidator/Test1/TestXSD1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mynamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="MyRootItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MyItems">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="MyItem" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="MySubElement"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>